{% extends 'base.html' %}

{% block content %}
<div class="container">

    <div class="row my-4">

      <div class="col-lg-6">

        <div class="mt-5">
          <header><h5>Goodbye, {{ first_name }}</h5></header>
          <p>You are now logged out from Grooviersounds - see you next time!</p>
        </div>

      </div>

    </div>

  </div>
  <!-- /.container -->
{% endblock %}