{% extends 'base.html' %}

{% block content %}
<div class="container">

    <div class="row my-4">

      <div class="col-lg-6">

        <header class="mt-5"><h5>Create Account</h5></header>
        <div class="list-group">
          <p>By submitting you accept the terms and conditions described below.</p>
          <form action="." method="post">
            {% csrf_token %}
            {{ create_form }}
            <input type="submit" value="Submit">
        </form>
        </div>

      </div>

      <div class="col-lg-6">

        <div class="mt-5">
          <header><h5>Login</h5></header>
          <div class="list-group">
            <form action="/account/login/" method="post">
              {% csrf_token %}
              {{ login_form }}
              <input type="submit" value="Submit">
          </div>
        </div>

      </div>

    </div>

    <div class="row my 4">
      <div class="col-lg-12">
        <header class="mt-5"><h5>Terms and conditions</h5></header>
        <div>
            <p>Hej</p>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container -->
{% endblock %}