{% extends 'base.html' %}

{% block content %}
<div class="container">

    <div class="row my-4">

      <div class="col-lg-6">

        <div class="mt-5">
          <header><h5>Welcome, {{ first_name }}!</h5></header>
          <p>Thanks for signing up at Grooviersounds. You are now logged in, and you can upload your own free patches.</p>
          <p>Remember to store your password at a safe place.</p>
          <p>Happy patching!</p>
        </div>

      </div>

    </div>

  </div>
  <!-- /.container -->
{% endblock %}