{% extends 'base.html' %}

{% block content %}
<div class="container">

    <div class="row my-4">

      <div class="col-lg-6">

        <div class="mt-5">
          <header><h5>Your Account</h5></header>
          <div class="list-group">
            <a href="#" class="list-group-item">Email address: {{ user.email }}</a>
            <a href="#" class="list-group-item">First name: {{ user.first_name }}</a>
            <a href="#" class="list-group-item">Last name: {{ user.first_name }}</a>
            <a href="#" class="list-group-item">Username: {{ user.username }}</a>
            <button onclick="window.location.href='/account/logout';">
              Logout
            </button>
          </div>
        </div>

      </div>

    </div>

  </div>
  <!-- /.container -->
{% endblock %}