{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load static %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Synth patches">
  <meta name="author" content="Finn Gruwier Larsen">

  <title>Grooviersounds</title>

  <link href="{% static 'css/base.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/"><header>Grooviersounds</header></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account' %}">
              {% if user.is_authenticated %}
                {{ user.username }}
              {% else %}
                Account
              {% endif %}
              </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Patches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Info</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  {% block content %}
  {% endblock %}

  <!-- Footer -->
  <footer class="my-5 py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Finn Gruwier Larsen 2020</p>
    </div>
    <!-- /.container -->
  </footer>

</body>

</html>
