<div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
      <div class="card-body">
        <h4 class="card-title">{{  patch.display_name  }}</h4>
        <p class="card-text">By {{ patch.owner.username }}</p>
         <h5><a href="{% url 'free_download' patch.pk %}">Free Download</a></h5>
      </div>
      {# <div class="card-footer"> #}
      {#  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small> #}
      {# </div> #}
    </div>
</div>