{% extends 'base.html' %}

{% block content %}
<div class="container">

    <div class="row my-4">

      <div class="col-lg-3">

        <header class="mt-5"><h5>Filtering Options</h5></header>
        <div class="list-group">
          <a href="#" class="list-group-item">Filter 1</a>
          <a href="#" class="list-group-item">Filter 2</a>
          <a href="#" class="list-group-item">Filter 3</a>
        </div>

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <div class="mt-5">
          <header><h5>Latest Patches</h5></header>
        </div>

        <div class="row">
          {% for patch in patches %}
            {% include 'card.html' %}
          {% endfor %}
        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
  {% endblock %}